@use 'variables' as *;

footer {
    display: flex;
    justify-content: center;
    background-color: $black;
    margin: 0;
    padding: 0;
    p {
        margin: 0;
        padding: 0;
        color: $white-shade;
    }
}

