@use 'variables' as *;

@media (max-width: 1200px) {

  // START ABOUT SECTION ---

.about button {
    margin-bottom: 7rem;
  }

  // END ABOUT SECTION
  
  // WILLOWS JOURNEY SECTION ---

  .willows-journey {
  background-color: #f6f6f6;
  padding: 8rem 0;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 8rem;
  }

  .willows-journey .img-container {
  justify-content: center;
  flex-direction: column;
  }

  .willows-journey .img-container img {
  margin-right: 0;
  box-shadow: none;
  border: 2rem solid white;
  height: 330px;
  width: 492px;
  align-self: center;
  display: none;
}

  .willows-journey .img-container .flex-container {
  text-align: center;
  margin-top: 3rem;
}

.willows-journey .img-container .flex-container button {
  align-self: center;
}
// END WILLOWS JOURNEY SECTION

} // END MEDIA QUERY

// ******************************************************

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP/TABLET devices will go within this breakpoint */
  
  // HEADER SECTION ---
  .image-container {
    display: none;
  }
  header .wrapper {
    justify-content: center;
  }
  .flex-container .logo-text {
    max-width: 12rem;
    top: 100px;
  }
  header h1 {
    font-size: 15rem;
    margin-left: 5rem;
  }
  // END OF HEADER 

  // ABOUT SECTION ---

  .about .about-container h2 {
  margin-top: 7rem;
  margin-bottom: 5px;
  }

  .about button {
    margin-bottom: 7rem;
  }

  // END ABOUT SECTION

  // FAV THINGS SECTION ---

  .fav-things {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .child-container img {
    box-shadow: none;
    top: 0;
    margin-top: 7rem;
    border: solid 2rem $green-grey;
  }

  .fav-things .parent-container .child-container, .fav-things .parent-container .child-container-2 {
  max-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  }

  .fav-things .parent-container {
  flex-direction: column;
  }

  .fav-things h2 {
    margin-top: 2rem;
  }

  .fav-things button {
    margin-bottom: 7rem;
  }
// END FAV THINGS SECTION

// BUCKET LIST SECTION ---

  .bucket-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bucket-list .child-container img {
    box-shadow: none;
    top: 0;
    margin-top: 0;
    border: solid 2rem $pine;
  }

  .bucket-list .parent-container .child-container, .bucket-list .parent-container .child-container-2 {
  max-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  }

  .bucket-list .parent-container {
  flex-direction: column-reverse;
  }

  .bucket-list h2 {
    margin-top: 2rem;
  }

  .bucket-list .child-container-2 button {
    margin-bottom: 7rem;
    align-self: center;
  }
// END OF BUCKET LIST SECTION

// WILLOWS JOURNEY SECTION ---

  .willows-journey {
  background-color: #f6f6f6;
  padding: 8rem 0;
  display: flex;
  }

  .willows-journey .img-container {
  justify-content: center;
  flex-direction: column;
  }

  .willows-journey .img-container img {
  margin-right: 0;
  box-shadow: none;
  height: 500px;
  width: 100%;
  border: solid white 3rem;
  }

  .willows-journey .img-container .flex-container {
  text-align: center;
  margin-top: 0;
}

.willows-journey .img-container .flex-container button {
  align-self: center;
}
// END WILLOWS JOURNEY SECTION
} // END MEDIA QUERY ---

// ******************************************************

@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  // HEADER ---
  header h1 {
    font-size: 10rem;
    margin-left: 35px;
  }

  .flex-container .logo-text {
  max-width: 9rem;
  top: 120px;
  }
  // END OF HEADER
  // FOOTER-NAV ---
  .footer-nav .wrapper .flex-parent {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav .wrapper .flex-parent .flex-child {
    padding-left: 0;
  }
  
  .flex-child h2 {
    margin-top: 10px;
  }

  .flex-child img {
    position: unset;
    max-width: 100%;
    height: auto;
    background-color: #e4a436;
    border-radius: 50%;
    padding: 10px;
  }
  // END FOOTER-NAV
} // END MEDIA QUERY ---

@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */

  // NAVIGATION ---
  .main-nav {
    display: none;
  }

  .p-menu1 {
    display: block;
  }
  // END OF NAVIGATION
  // HEADER ---
  header h1 {
    font-size: 5rem;
    margin-left: 20px;
  }

  .flex-container .logo-text {
  max-width: 5rem;
  top: 150px;
  } 
  // END OF HEADER
  // IMAGE-GALLERY ---
  .image-gallery .wrapper {
  justify-content: center;
  flex-direction: column;
  }
  .image-gallery .wrapper img {
  width: 100%;
  height: auto;
  max-width: 33%;
  margin: 20px 0;
  margin-right: 0px;
  align-self: center;
  }

  .image-gallery {
    .wrapper {
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            height: auto;
            max-width: 50%;
            &:first-child {
                margin-right: 0;
                margin-top: 40px;
            }
            &:last-child {
                margin-left: 0;
                margin-bottom: 40px;
            }
        }
    }
}

} // END MEDIA QUERY


// ***************************************************

// CONTACT US MEDIA QUERIES

@media (max-width: 874px) {
  .contact-form .wrapper {
    flex-direction: column;
    .form {
      margin-left: 0;
      margin-top: 20px;
    }
  }
} // END MEDIA QUERY

@media (max-width: 500px) {
  .header-image h2 {
    font-size: 3.8rem;
    margin-top: 20px;
  }

  .hamburger1 {
    margin-bottom: 10px;
  }

  .contact-form p {
    font-size: 1.5rem;
  }

  .socials img {
    margin-right: 10px;
    height: auto;
    width: 25px;
  }
  
  .contact {
  justify-content: center;
  align-items: center;
  }
  
  footer p {
    font-size: 1rem;
  }

  .form input {
    width: 100%;
  }

  .form input:first-child {
    margin-bottom: 20px;
  }
} // END MEDIA QUERY

@media (max-width: 390px) {

  .contact-form p {
    font-size: 1.1rem;
  }
}