@use 'variables' as *;

nav {
    background-color: $pine;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            font-weight: regular;
            font-family: 'Abril Fatface', cursive;
            color: $white-shade;
            font-size: 2.8rem;
            text-transform: uppercase;
            margin: 10px 40px;
        }
    }
}

nav a {
    text-transform: uppercase;
    color: $white-shade;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    &:hover, 
    &:focus {
        color: $accent;
    }
}

nav a:first-child {
    margin-right: 40px;
}

nav a:last-child {
    margin-left: 40px;
}

// HAMBURGER DROPDOWN ---
.p-menu1 {
    display: none;
}

a {
    text-decoration: none;
}

.link1 {
    color: black;
}

.p-menu1{
    height: 100%;
}

.hamburger1 {
    height: 45px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: right;
    z-index: 120;
    margin-right: 8%;
}

.hamburger1 div {
    background-color: white;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .menu1 {
    height: 340px;
}


/* Menu */
.menu1 {
    width: 100%;
    background-color: white;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }

.menu1 a:first-child {
    margin-top: 40px;
}

.menu1 a:last-child {
    margin-bottom: 40px;
}

.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
    background-color: $white-shade;
    color: $accent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}