@use 'variables' as *;

.willows-journey {
    background-color: $white-shade;
    padding: 11rem 0;
    display: flex;
    justify-content: space-between;
    .img-container {
        display: flex;
        img {
            box-shadow: 20px 20px $green-grey;
            width: 300px;
            height: auto;
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 100px;
            button {
                width: 200px;
                font-size: 1.4rem;
                align-self: left;
                border: none;
                padding: 10px 10px;
                text-transform: uppercase;
                font-family: 'Abril Fatface', cursive;
                background-color: $accent;
                margin-top: 10px;
                &:hover,
                &:focus {
                    border: solid 2px $black;
                }
            }
        }
    }
}

.willows-journey .flex-container h2 {
    margin: 0;
    margin-bottom: 1rem;
}


